:root {
  --lysbla: #61b0b6;
  --gul: #f4d4a6;
}

* {
    font-family: "dejavu-sans-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
}

header{
    max-width: 100%; 
    position: sticky;
    top: 0;
}
header img{
    width: 50%;
    z-index: 1100;
}


#bigphoto{
    width: 100%;
    margin-top: -380px;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #017e8c;
    margin: 0;
    width: 100%;
  }
  
  .navbar {
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navbar .a, .dropdown {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 14%;
  }

  #headerbillede{
    width: 100%; 
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: black;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*afsnit med cirkler der linker til undersider*/
  .forsidelinks {
    background-color: #fdc680;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    padding-bottom: 10%;
    padding-top: 10%;

  }

  .forsidelinks nav {
    border: 2px solid black;
    text-align: center;
    height: 130%;
    align-content: end;


  }

  #id {
    border: 2px solid black;
    align-content: center;

  }

  .forsidelinks nav div {
    border: 2px solid green;

  }

  .linkbox {
    width: 20%;
    height: 100%;
    background-color: #ffdaab;
    border: 2px solid black;
    border-radius: 50%;
  }

  figure h2 {
    text-align: center;
  }

  .linkbox img {
    width: 100%;
  }

  #kalenderIcon {
    width: 60%;
  }

  #kontaktIcon {
    width: 70%;
  }

  /*afsnit med tekst om klubben og runde billeder*/
  .omKlubbenAfsnit {
    width: 93%;
    background-color: var(--lysbla);
    display: flex;
    padding: 2%;
    padding-left: 5%;
    padding-top: 5%;
    justify-content: space-evenly;
  }

  .klubben {
    width: 30%;
  }

  #ol {
    margin-left: -1%;
  }

  #olImg {
    width: 90%;

  }

  #rundBilleder {
    margin-left: -8%;
    margin-top: -4%;

  }

  #kammeratImg {
    width: 60%;
  }

  #spilImg {
    width: 90%;
    margin-top: 7%;
  }

  .klubben img {
    width: 50%;
    border-radius: 100%;
  }

/*styling af footer*/
  footer{
    background-color: #017e8c;
    display: flex;
    align-content: baseline;
    padding: 5%;
  }


  .footertekst{
    width: 70%;
  }

  .facebooklogo{
    width: 30%;
  }

  footer img{
    width: 40%;

  }

  .sponsor{
    background-color: #c37862;
    display: flex;
    justify-content: space-between;
    padding: 1%;
  }

  .sponsor img{
    width: auto;
    height: 100px;
  }

  /* her starter EVENT css */
  .event {
    background-color: #ffcc82;
    margin: 0;
    width: 100%;
  }
.turnering {
    padding: 5px;
    margin-left: 53%;
  }

.julefrokost {
    text-align: end;
    padding: 5px;
    margin-right: 53%;
    margin-top: -766px;
  }

  .ligelinje {
    margin-top: -45%;
    border: 1px;
    border-left: 2px solid rgb(255, 255, 255);
    height: 450px; /* Set the height */
    transform: rotate(180deg); /* Rotate to make it vertical */
    position: relative;
  }

  .eventlinje {
    position: relative;
    height: 100vh; /* Set to full height of viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skråførste {
    border: 1px;
    border-left: 2px solid rgb(255, 255, 255);
    height: 70px; /* Set the height */
    transform: rotate(135deg); /* Rotate to make it vertical */
    margin-bottom: 987px;
    margin-right: 51.7%;
  }

  .førsteskrå {
    height: 1vh; /* Set to full height of viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skråanden {
    border: 1px;
    border-left: 2px solid rgb(255, 255, 255);
    height: 70px; /* Set the height */
    transform: rotate(45deg); /* Rotate to make it vertical */
    margin-bottom: 999px;
    margin-right: 48.2%;
  }

  .andenskrå {
    height: 1vh; /* Set to full height of viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* css til at felt der indenholder klubtøj, sodavand og øl */

  .sodaklub {
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
    margin-left: 7.4%;
  }

  .soda, .klub {
    background-color: #c37862;
    padding: 30px;
    width: 40%;
  }

  .soda img, .klub img {
    display: flex;
    width: 100%;
  }

  .eventfacebook {
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    padding: 35px;
    gap: 20px;
    background: #61b0b6;
  }

  .eventfacebook img {
    width: 444px;
  }



  /*Styling af kontaktsiden*/
  .overskrift {
    text-align: center;
  }

  .container {
    display: flex;
    border: 2px solid black;
    gap: 4%;
    padding-left: 6%;
  }

  .container2 {
    width: 20%;
    justify-content: stretch;
    border: 2px solid yellow;

  }

  .container img {
    width: 50%;
  }

  .billedeOgTekst {
    text-align: center;
  }
